@mixin flex() {
    display: flex;
}

@mixin direction($direction) {
    flex-direction: $direction;
}

@mixin textTransform($transform) {
    text-transform: $transform;
}

@mixin basis($flexBasis) {
   flex-basis: $flexBasis;
}

@mixin wrap($wrap) {
    flex-wrap: $wrap;
}

@mixin align($align) {
    align-items: $align;
}

@mixin justify($justify) {
    justify-content: $justify;
}

//for image styling
@mixin image($width:null,$height:auto,$objFit:null) {
    width: $width;
    height: $height;
    object-fit: $objFit;
}

//mixin for font
@mixin fontSize($size: null, $weight: null, $family: null) {
font-size: $size;
font-weight: $weight;
font-family: $family;
}

//transition mixin
@mixin transition($property: all, $time:null, $func:null) {
    transition: $property $time $func;
}

//transform mixin
@mixin transform($transform) {
    transform: $transform;
}

//mixin for styling position
@mixin position($position:null, $z-index:null, $top:null, $right:null, $bottom:null, $left:null){
position: $position;
z-index: $z-index;
top: $top;
right: $right;
bottom: $bottom;
left: $left;
}

//for box sizing
@mixin boxSizing($property) {
    box-sizing: $property;
}

//responsive mixin
@mixin responsive($value) {
    @media only screen and (max-width: $value) {
        @content;
    }
}

//hover effect upto 995px
@mixin hover-effect($value) {
    @media only screen and(min-width: $value) {
        @content;
    }
}