@charset "UTF-8";
/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll;
  overflow-x: hidden; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
  width: 100%;
  height: auto; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */
.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold; }

a {
  display: inline-block;
  text-decoration: none; }

.wrapper {
  width: 72%;
  margin: 0 auto; }

li {
  list-style-type: none; }

.heading {
  font-size: 35px;
  font-weight: 600;
  color: #f01313; }

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333333; }
  header .wrapper {
    display: flex; }
    header .wrapper .logo-image {
      width: 80px;
      height: 40px;
      object-fit: cover; }
  header nav {
    flex-basis: 91%; }
    header nav ul {
      display: flex;
      justify-content: center; }
      header nav ul li {
        padding: 10px 2%; }
        header nav ul li a {
          color: #fff; }

.banner-section {
  width: 100%;
  height: 100vh;
  position: relative; }
  .banner-section .wrapper {
    height: 100%;
    display: flex; }
  .banner-section figure {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0; }
  .banner-section .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .banner-section .sustainable-container {
    flex-basis: 35%;
    margin-top: 15%; }
  .banner-section .banner-main-heading {
    height: 50%;
    flex-basis: 55%;
    padding: 80px 60px;
    margin-right: 20px;
    margin-top: 15%;
    border: 4px solid #f51414;
    justify-content: center;
    font-size: 45px;
    font-weight: 600; }
  .banner-section .sustaining-planet-heading {
    font-size: 25px;
    font-weight: 600; }
  .banner-section .sustaining-planet-heading,
  .banner-section .banner-main-heading, .banner-section p,
  .banner-section .read-more-link-container a {
    color: #fff; }
  .banner-section .time-location {
    padding-bottom: 20px;
    border-bottom: 1px solid #fff; }

.cards-section {
  padding: 30px 0; }
  .cards-section .cards-list {
    width: 100%;
    display: flex; }
  .cards-section li {
    padding: 10px;
    flex-basis: 20%;
    background-color: #f5f4ef; }
    .cards-section li:not(:last-child) {
      margin-right: 10px; }
    .cards-section li figure, .cards-section li img {
      height: 30px;
      width: 30px; }
  .cards-section .number {
    font-size: 35px;
    font-weight: 600; }

.two-by-two-section {
  padding: 40px 0; }
  .two-by-two-section .wrapper {
    display: flex; }
  .two-by-two-section .content-container {
    flex-basis: 50%; }
  .two-by-two-section figure, .two-by-two-section img {
    width: 100%;
    height: 100%;
    flex-basis: 50%; }
  .two-by-two-section .description {
    margin-bottom: 20px; }
  .two-by-two-section .join-heading {
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 550; }
  .two-by-two-section .join-link-container {
    width: 20%;
    border-radius: 20px;
    border: 1px solid #1f2e7a;
    text-align: center;
    background-color: #1f2e7a; }
    .two-by-two-section .join-link-container a {
      padding: 4px;
      color: #fff; }

.featured-speakers {
  padding: 30px 0;
  background-color: #f5f4ef; }
  .featured-speakers ul {
    display: flex; }
    .featured-speakers ul li {
      flex-basis: 20%;
      margin-top: 30px; }
      .featured-speakers ul li:not(:last-child) {
        margin-right: 10px; }
      .featured-speakers ul li figure, .featured-speakers ul li img {
        width: 100%; }
      .featured-speakers ul li div {
        padding: 10px 5px 40px;
        background-color: #fff; }
        .featured-speakers ul li div .designation {
          font-size: 13px; }

.discussed-topics {
  padding: 30px 0; }
  .discussed-topics .discussed-topics-heading {
    margin-bottom: 20px; }
  .discussed-topics .topics-list {
    display: flex;
    flex-wrap: wrap; }
    .discussed-topics .topics-list li {
      margin: 10px;
      flex-basis: 30%;
      position: relative; }
  .discussed-topics .topic-title {
    font-size: 25px;
    font-weight: 600; }
  .discussed-topics .text-content {
    position: absolute;
    bottom: 9%;
    transform: translate(0, -9%); }
  .discussed-topics .topic-title, .discussed-topics .topic-link-container a {
    color: #000; }

.event-format-section {
  padding: 40px 0; }
  .event-format-section .events-list {
    display: flex;
    margin-top: 20px; }
    .event-format-section .events-list li {
      padding: 15px;
      flex-basis: 25%; }
      .event-format-section .events-list li:not(:last-child) {
        margin-right: 20px; }
      .event-format-section .events-list li:not(:first-child) {
        background-color: #f01313; }
      .event-format-section .events-list li:first-child {
        background-color: #000; }
    .event-format-section .events-list figure {
      height: 30px;
      width: 30px; }
    .event-format-section .events-list .event-image {
      width: 30px;
      height: 30px;
      border-radius: 19px; }
    .event-format-section .events-list .events-container {
      display: flex;
      align-items: center; }
  .event-format-section .event-date, .event-format-section .event-type {
    color: #fff; }
  .event-format-section .event-date {
    padding-bottom: 20px;
    text-align: center; }
  .event-format-section .event-type {
    padding-left: 20px; }
  .event-format-section .in-person-venue {
    width: 45%;
    padding: 30px;
    margin-left: 49%;
    margin-top: 10px;
    background-color: #f5f4ef; }
  .event-format-section .company-name, .event-format-section .company-address {
    font-size: 25px;
    font-weight: 600; }
  .event-format-section .company-name {
    color: #f01313; }
  .event-format-section .venue-container {
    margin: 6px 0 20px; }

.why-attend-section {
  margin-bottom: 80px; }
  .why-attend-section .attend-section-lists {
    margin-top: 20px;
    display: flex; }
    .why-attend-section .attend-section-lists li {
      flex-basis: 30%;
      background-color: #e9fcf8; }
      .why-attend-section .attend-section-lists li:not(:last-child) {
        margin-right: 20px; }
    .why-attend-section .attend-section-lists .attend-section-title {
      font-size: 19px;
      font-weight: 600; }
    .why-attend-section .attend-section-lists .attendees-topic {
      padding: 20px; }
    .why-attend-section .attend-section-lists .attend-link-container {
      margin-top: 20px; }
      .why-attend-section .attend-section-lists .attend-link-container a {
        color: #000; }
      .why-attend-section .attend-section-lists .attend-link-container::before {
        content: "";
        margin-right: 5px;
        font-family: "fontAwesome";
        font-size: 18px; }

.feedback-section {
  padding: 20px 0 80px;
  background-color: #333333; }
  .feedback-section .attendees-heading {
    color: #fff; }
  .feedback-section .feedback-list {
    margin-top: 20px;
    display: flex; }
    .feedback-section .feedback-list li {
      padding: 20px;
      flex-basis: 30%;
      background-color: #e9fcf8; }
      .feedback-section .feedback-list li:not(:last-child) {
        margin-right: 20px; }
  .feedback-section .feedback-title {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600; }

.interested-in-speaking {
  background-color: #f5f4ef; }
  .interested-in-speaking .interested-heading {
    margin-bottom: 20px;
    color: #000; }
  .interested-in-speaking .wrapper {
    display: flex; }
  .interested-in-speaking .text-section {
    padding: 40px;
    margin-right: 20px;
    flex-basis: 30%; }
  .interested-in-speaking .image-section {
    flex-basis: 67%; }
    .interested-in-speaking .image-section img {
      margin-left: 20%; }
  .interested-in-speaking .become-speaker-container {
    margin-top: 20px; }
    .interested-in-speaking .become-speaker-container a {
      padding: 3px 10px;
      border-radius: 15px;
      color: #fff;
      background-color: #1f2e7a; }

footer {
  padding: 30px 0;
  background-color: #000; }
  footer .copy-right {
    margin-top: 20px;
    color: #fff; }
  footer .footer-link a {
    color: #fff; }

/* speaker listing page style */
.all-speakers {
  padding-top: 100px; }
  .all-speakers .check-box {
    display: flex; }
    .all-speakers .check-box li {
      display: flex;
      flex-basis: 30%; }
  .all-speakers .button, .all-speakers .clear-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #000; }
  .all-speakers .button-container {
    margin-left: 20px; }
  .all-speakers .speakers-list {
    padding: 30px;
    display: flex;
    flex-wrap: wrap; }
  .all-speakers .speaker-container {
    border: 1px solid #4CAF50;
    margin-right: 10px;
    margin-top: 10px;
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .all-speakers .company-logo {
    width: 100px; }
  .all-speakers .load-more-container {
    text-align: center; }
  .all-speakers button {
    padding: 4px;
    margin-bottom: 10px;
    background-color: #4CAF50; }

/*# sourceMappingURL=style.css.map */
